---
layout: default
title: pearpages | blog about programming by Pere Pages Soms
excerpt: Faction by Pixelarity

slides:
- image: /images/slide01.jpg
  position: bottom right
  title: Collaborate, Communicate and meet Colleagues
  excerpt: 
  url: "/pere-pages-soms"
  link_text: 
- image: /images/slide02.jpg
  position: top right
  title: Embrace the Philosophy of the Technologies you use and its Communities
  excerpt: 
  url: "/pere-pages-soms"
  link_text: 
- image: /images/slide03.jpg
  position: right
  title: Strive for Simplicity
  excerpt: 
  url: "/pere-pages-soms"
  link_text: 
- image: /images/slide04.jpg
  position: center
  title: Perform Testing
  excerpt: 
  url: "/pere-pages-soms"
  link_text: 

features:
- icon: fa-group
  title: Contribute
  excerpt: There's a better way to do things.
- icon: fa-book
  title: Learn
  excerpt: Read books and dig into libraries code.
- icon: fa-laptop
  title: Program everyday
  excerpt: Have a plan and improve your skills.
- icon: fa-meetup
  title: Meet people, be social
  excerpt: Attend meetups.

spotlights:
- image: /images/zen.jpg
  title: The Zen of Python
  excerpt: Long time Pythoneer Tim Peters succinctly channels the BDFL's guiding principles for Python's design into 20 aphorisms, only 19 of which have been written down.
  url: "https://www.python.org/dev/peps/pep-0020/"
  link_text: Learn More
- image: /images/angularbeers.png
  title: Angularbeers.org
  excerpt: Join a vibrant and growing Angular community that will inspire you. Share.Learn.Discover.
  url: "https://angularbeers.org/"
  link_text: Learn More
- image: /images/pic03.jpg
  title: Lorem ipsum dolor sit amet consectetur adipiscing
  excerpt: Purus ipsum consequat orci, sit amet lobortis lorem lacus in tellus. Sed ac elementum arcu. Quisque placerat auctor laoreet.
  url: "#"
  link_text: Learn More
- image: /images/pic04.jpg
  title: Duis vulputate amet tincidunt lacinia velit aliquet
  excerpt: Mattis ante fermentum, malesuada neque vitae, eleifend erat. Phasellus non pulvinar erat. Fusce tincidunt lorem ipsum dolor sit amet.
  url: "#"
  link_text: Learn More

---

{% comment %}

	Name:

		Index page

	Description:

		An homepage showcasing all components included with Faction.

{% endcomment %}

<!-- Main -->
	<section class="main">

		{% include layout/banner.html slides=page.slides %}

		<!-- Blurb -->
			<section>
				<h1>What's this?</h1>
        <p>I've created this <i>site</i> so you are able to <i>find</i> and contact me. I love to learn and meet other colleagues, I hope I can contribute to the community with nice info, sharing and creating posts.</p>
			</section>

		{% include components/features.html features=page.features %}

		{% include components/spotlights.html spotlights=page.spotlights %}

	</section>

{% include components/sidebar.html %}