<header class="site-header">

  <div class="wrapper">

    <a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a> 

    <nav class="site-nav">
      <a href="#" class="glyphicon glyphicon-menu-hamburger menu-icon">
        
          
      </a>

      <div class="trigger">
        <a class="page-link" href="{{site.baseurl}}/fun/guess-a-number.html">Fun</a>
        {% for page in site.pages %}
          {% if page.title %}
            {% if page.title != "404 page not found" %}
          <a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{page.title}}</a>
            {% endif %}
          {% endif %}
        {% endfor %}
      </div>
    </nav>

  </div>


  <div class="wrapper"><cite>Blog about programming by Pere Pages</cite></div>
</header>
