{% assign lastPost = site.posts.first %} {% assign lastPostContent = lastPost.content %}

<section>
    <h2>
{% if lastPost.title %}
    Last post: <a href="{{ root_url }}{{ lastPost.url }}">{{ lastPost.title }}</a>
{% endif %}
{% if post.title %}
    <a href="{{ root_url }}{{ lastPost.url }}">{{ lastPost.title }}</a>
{% endif %}
</h2>
    <a href="#" class="image fit"><img src="images/pic04.jpg" alt="" /></a>
    {{ lastPostContent }}

    <div class="alert alert-warning" role="alert">
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span> For comments go to the actual post: <a href="{{ root_url }}{{ lastPost.url }}">{{ lastPost.title }}</a>
    </div>

</section>


