{% comment %}

	Name:

		Footer

	Description:

		Generates the footer portion of all pages.

	Example:

		{% include layout/footer.html %}

{% endcomment %}

<!-- Footer -->
	<footer id="footer">
		<div class="inner">
			<section class="info">
				<h3>About Me</h3>
				<div class="about">
					<p>{% include components/mini-about-me.html %}</p>
					<ul class="actions">
						<li><a href="/pere-pages-soms" class="button">Learn More</a></li>
					</ul>
				</div>
				<div class="team">
					<article>
						<span class="image"><img src="http://s.gravatar.com/avatar/fbc25b82eba8c88e090e661a277c4f75?s=80" alt="Pere Pages Soms"></span>
						<p>
							<strong class="name">Pere Pages Soms</strong>
							<span class="title">Senior Developer</span>
						</p>
					</article>
				</div>
			</section>
			<section class="contact">
				<h3>Contact Me</h3>
				<ul class="contact-icons">
					<li class="icon fa-github"><a target="_blank" href="https://github.com/pearpages">github.com/pearpages</a></li>
					<li class="icon fa-envelope"><a href="mailto:hello@pearpages.com">hello@pearpages.com</a></li>
					<li class="icon fa-linkedin"><a target="_blank" href="https://www.linkedin.com/in/pearpages">linkedin.com/in/pearpages</a></li>
					<li class="icon fa-twitter"><a target="_blank" href="https://twitter.com/pearpages">twitter.com/pearpages</a></li>
					<li class="icon fa-home"><a target="_blank" href="https://goo.gl/maps/HyY2DHFUZsT2">Barcelona #08024<br>Barcelona</a></li>
				</ul>
			</section>
		</div>
		<div class="copyright">
			&copy; Untitled. All rights reserved.
		</div>
	</footer>