---
layout: default
---

{% comment %}

	Name:

		Post layout

	Description:

		A layout where content is displayed alongside the sidebar.
		Allows defining the sidebar orientation on each page.

	Example:

		---
		layout: post
		sidebar-align: left
		---

{% endcomment %}

<!-- Main -->
	<section class="main">
		<section>
			<header>
	<h1>{{ page.title }}   {% if page.previous.url %}
    <a class="prev" href="{{page.previous.url}}" >&laquo; </a>
  {% endif %}
  {% if page.next.url %}
    <a class="next" href="{{page.next.url}}"> &raquo; </a>
  {% endif %}</h1>
	<p>{{ page.date | date: "%B %-d, %Y" }}</p>

</header>

{% if page.image %}
	<span class="image fit">
		<img src="{{ site.baseurl }}{{ page.image }}" alt="{{ page.title }}">
	</span>
{% endif %}
			{{ content }}
      {% include components/comments.html %}
		</section>
	</section>

{% include components/sidebar.html align=page.sidebar-align %}

<script>
	$('.sidebar .why').remove();
	$('.sidebar .twitter').remove();
	if($('ul#markdown-toc').length > 0) {
		$('.sidebar .featured-posts').remove();
		var title = $('ul#markdown-toc').attr('title') === undefined ? 'Table of Contents' : $('ul#markdown-toc').attr('title');
		var icon = $('ul#markdown-toc').attr('icon') === undefined ? '' : '<i class="fa fa-'+$('ul#markdown-toc').attr('icon')+'" aria-hidden="true"></i> ';
		$('.sidebar').prepend('<section><h2>'+icon+title+'</h2><div></div></section>');
		$('ul#markdown-toc').appendTo('.sidebar section div');
	}
</script>