---
layout: default
---

{% comment %}

	Name:

		Sidebar layout

	Description:

		A layout where content is displayed alongside the sidebar.
		Allows defining the sidebar orientation on each page.

	Example:

		---
		layout: sidebar
		sidebar-align: left
		---

{% endcomment %}

<!-- Main -->
	<section class="main">
		<section>
			{% if page.title %}
				<h1>{{page.title}}</h1>
			{% endif %}
			{{ content }}
		</section>
	</section>

{% include components/sidebar.html align=page.sidebar-align %}

{% if page.sidebar-align == 'left' %}
<script>
	if($('ul#markdown-toc').length > 0) {
		var title = $('ul#markdown-toc').attr('title') === undefined ? 'Table of Contents' : $('ul#markdown-toc').attr('title');
		var icon = $('ul#markdown-toc').attr('icon') === undefined ? '' : '<i class="fa fa-'+$('ul#markdown-toc').attr('icon')+'" aria-hidden="true"></i> ';
		$('.sidebar').html('<section><h2>'+icon+title+'</h2><div></div></section>');
		$('ul#markdown-toc').appendTo('.sidebar section div');
	}
</script>
{% endif %}