---
layout: default
---

{% comment %}

	Name:

		Sidebar layout

	Description:

		A layout where content is displayed alongside the sidebar.
		Allows defining the sidebar orientation on each page.

	Example:

		---
		layout: sidebar
		sidebar-align: left
		---

{% endcomment %}

<!-- Main -->
	<section class="main">
		<section>
			{{ content }}
		</section>
	</section>

{% include components/sidebar.html align=page.sidebar-align %}

<script>
	console.log($('.sidebar'));
	console.log($('ul#markdown-toc'));
	$('.sidebar').html('<section><h2>TOC</h2><div></div></section>');
	$('ul#markdown-toc').appendTo('.sidebar section div');
</script>